@media (max-width: 930px) {
    .header-wrapper {
      flex-direction: column-reverse;
      height: 100%;
    }

    .header-wrapper > .logo-navbar {
        flex-direction: column;
        justify-content: center;
    }

    .header-wrapper > .logo-navbar > .logo {
        width: 350px;
        margin: 0px;
    }

    .header-wrapper > .logo-navbar > .logo a {
        padding-bottom: 12px;
    }

    .header-wrapper > .logo-navbar > .logo a img {
        width: 100%;
        height: auto;
    }

    .page-container {
        flex-direction: column;
        height: 100%;
        align-items: center;
        row-gap: 40px;
    }

    .page-container > .left-column {
        width: auto;
    }

    .page-container > .right-column {
        width: auto;
    }
}


@media (max-width: 855px) {
    .footer-wrapper {
    grid-template-columns: 1fr;
    }

    .footer-link a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}



